<!DOCTYPE html>
<html ng-app="cs480App">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Homepage</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/homepageStyle.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <script src="/javascripts/libraries/angular.min.js"></script>
  <script src="/javascripts/services/restService.js"></script>
  <script src="/javascripts/controllers/home-control.js"></script>
</head>

<body ng-controller="HomeCtrl">

  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fixed-top">
      <span><button type="button" id="sidebarCollapse" class="btn btn-info" ng-click="toggleSidebar()"> <i class="fas fa-align-left"></i></button></span>
      <a class="navbar-brand" href="#">ZEITPLAN</a>
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Out</a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign Out</a></li>
    </ul>
  </div>

  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" ng-class="sidebarActive">
      <ul class="Sidebar_Features list-unstyled">
        <li ng-class="{active: activeTab =='ttr'}">
          <a id="ttrLink" ng-click='activeTab="ttr"'>TTR</a>
        </li>

        <li ng-class="{active: activeTab == 'schedule'}">
          <a ng-click='activeTab="schedule"'>SCHEDULE</a>
        </li>

        <li ng-class="{active: activeTab == 'logs'}">
          <a ng-click='activeTab="logs"'>LOGS</a>
        </li>

        <li ng-class="{active: activeTab == 'pomodoro'}">
          <a ng-click='activeTab="pomodoro"'>POMODORO</a>
        </li>
      </ul>
      <hr>
    </nav>
    <!-- Page Content  -->
    <div class="tab-content">
      <div ng-switch='activeTab'>
        <div ng-switch-when="ttr">
          <ng-include src="'ttr.html'"></ng-include>
        </div>
        <div ng-switch-when="schedule">
          <ng-include src="'schedule.html'"></ng-include>
        </div>
        <div ng-switch-when="logs">
          <ng-include src="'logs.html'"></ng-include>
        </div>
        <div ng-switch-when="pomodoro">
          <ng-include src="'pomodoro.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
