<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <ul>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Register</a></li>
    </ul>

    <br>

    <h2 class="page-header">Zeitplan Login</h2>
    <p>Please login below</p>

    <% if ( expressFlash.length > 0 ) { %>
      <% for(let i = 0; i < expressFlash.length; i++) %>
      <center><h2 class="flashMessage">Message: <%= expressFlash[i] %> </h2></center>
    <% } %>

    <form method="post" action="/users/login">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" name="username" type="text" placeholder="Enter Username"/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="password" type="password" placeholder="Enter Password"/>
      </div>
      <input class="btn btn-primary" type="submit" name="submit" value="Login"/>
    </form>
  </body>
</html>
