.ldBar-label{
    display: none;
    content: "";
    color: #000;
    margin-left: 5px;
    font-family: courier new;
    font-size: 14;
    font-weight: 200;
}

#clockInfo{
    padding-top:30px;
}

@media (max-width: 768px) {
    #info{
        top:50%;
    }
  }