#container {
	padding: 25px 50px 25px 50px;

}

#log_container {
	background-color: #F2F4F5;
	border: solid;
	border-radius: 10px;
	border-width: 1px;
	padding: 10px 10px 10px 10px;
}

#log_cards {
	padding-top: 20px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}
