<div ng-controller="ScheduleCtrl">
     <edit-modal-schedule model="editModalSchedule", description="$parent.description", date="$parent.date",
     start-date="$parent.startDate", end-date="$parent.endDate", notification="$parent.notification", completed="$parent.completed", reason='$parent.reason'></edit-modal-schedule>
     <add-modal-schedule model="addModalSchedule",  description="$parent.description", date="$parent.date", start-date="$parent.startDate", end-date="$parent.endDate", notification="$parent.notification"></add-modal-schedule>
    <div id="ScheduleDiv">
      <button type="button" class="button btn btn-danger ttrButton" ng-click='deleteSelectedSchedule()'>Delete</button>
      <button type="button" class="button btn btn-primary ttrButton" ng-click='addModalSchedule.open()'>Add</button>
      <table id = "scheduleTable" class="table table-striped tabTable">
        <thead>
          <tr>
            <th style="width:5%"></th>
            <th style="width:30%" scope="col">Description</th>
            <th style="width:25%" scope="col">Date</th>
            <th style="width:20%" scope="col">Start</th>
            <th style="width:20%" scope="col">End</th>
          </tr>
        </thead>
        <tr ng-repeat="schedule in schedules | orderBy: 'startDate'">
          <td><input type="checkbox" value="scheduleCheck" ng-model="checkStatus" ng-init='checkStatus=false' ng-click="selectedSchedule(schedule._id, checkStatus)"></td>
          <td ng-click="editModalSchedule.open(schedule)">{{ schedule.description }}</td>
          <td ng-click="editModalSchedule.open(schedule)">{{ schedule.startDate | date:'MM/dd/yy' }}</td>
          <td ng-click="editModalSchedule.open(schedule)">{{ schedule.startDate | date:'hh:mm a' }}</td>
          <td ng-click="editModalSchedule.open(schedule)">{{ schedule.endDate | date:'hh:mm a'}}</td>
        </tr>
      </table>
    </div>
</div>

  <!-- Add Modal -->
  <script type="text/ng-template" id="addModalSchedule.html">
  <div class="modal" id="scheduleAddModal" tabindex="-1" role="dialog" aria-labelledby="addSchedule" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSchedule">Add to your schdule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 ng-show="$parent.error" ng-style="{color:'red'}">{{$parent.errorMsg}}</h6>
        <form name = "AddSchedule">
            <label for="descripSchedule">Description</label>
            <input type="text" class="form-control" id="descripSchedule" ng-model='description' placeholder="Something to add to my schedule...">
            <label for="startDateSchedule">Start Date</label>
            <input type="date" class="form-control" id="startDateSchedule" ng-model='date'>
            <label for="startTimeSchedule">Start Time</label>
            <input type="time" class="form-control" id="startTimeSchedule" ng-model='startDate'>
            <label for="endTimeSchedule">End Time</label>
            <input type="time" class="form-control" id="endTimeSchedule" ng-model='endDate'>
            <label for="notifications">Notify Me</label>
            <input type="checkbox" id="notifications" ng-model="notification">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" ng-click="$parent.addSchedule()">Add to Schedule</button>
      </div>
    </div>
  </div>
  </div>
</script>

  <!-- Edit Modal-->
<script type="text/ng-template" id="editModalSchedule.html">
  <div class="modal" tabindex="-1" id="editModalDiv" role="dialog" aria-labelledby="editSchedule" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSchedule">Edit Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div ng-show="!giveResult" class="form-group">
              <label for="newDecrip">Description</label>
              <input type="text" class="form-control" id="newDecrip" ng-value='model.description' ng-model="description">
              <label for="editStartDate">Start Date</label>
              <input type="date" class="form-control" id="editStartDate" ng-value="model.startDate | date:'yyyy-MM-dd'" ng-model="startDate">
              <label for="editStartTime">Start Time</label>
              <input type="time" class="form-control" id="editStartTime" ng-model="startDate" ng-value="model.startDate | date:'hh-mm a'">
              <label for="editEndTime">End Time</label>
              <input type="time" class="form-control" id="editEndTime" ng-model="endDate" ng-value="model.endDate | date:'hh-mm a'">
              <label for="notifications">Notify Me</label>
              <input type="checkbox" id="notifications" ng-model="notification" ng-value="model.notification">
          </div>
          <div ng-show="giveResult" class="form-group">
            <label for="reason">Reason</label>
            <input type="text" class="form-control" id="reason" ng-model="reason">
            <label for="completed">Completed</label>
            <input type="checkbox" id="completed" ng-init="completed=false" ng-value="model.completed" ng-model="completed">
          </div>
        <button ng-show="!giveResult" type="button" class="btn btn-info" ng-click="giveResult=true" >Give Result</button>
        <button ng-show="!giveResult" type="button" class="btn btn-success" ng-click="$parent.editSchedule(model.data._id)">Save</button>
        <button ng-show="!giveResult" type="button" class="btn btn-danger" ng-click="$parent.deleteSchedule(model.data._id)">Delete</button>
        <button ng-show="giveResult" type="button" class="btn btn-warning" ng-click="giveResult=false">Back</button>
        <button ng-show="giveResult" type="button" class="btn btn-info" ng-click="$parent.sendScheduleToLogs(model.data._id)">Move</button>
      </div>
    </div>
  </div>
  </div>
  </script>
