<div ng-controller="TTRCntrl">
  <edit-modal model="editModal" end-date = "$parent.endDate" start-date="$parent.startDate", date="$parent.date",
  notify-schedule="$parent.notifySchedule" description="$parent.description" due-date="$parent.dueDate"></edit-modal>
  <add-modal model="addModal" description="$parent.description" due-date="$parent.dueDate"></add-modal>
  <div id="ttrDiv">
    <button type="button" class="btn btn-danger ttrButton" ng-click="deleteSelectedTTR()">Delete</button>
    <button type="button" class="button btn btn-primary ttrButton" ng-click="addModal.openAdd()">Add</button>
    <table id = "ttrTable" class="table table-striped tabTable">
      <thead>
        <tr>
          <th style="width:10%"></th>
          <th style="width:65%" scope = "col">Description</th>
          <th style="width:25%" scope = "col">Due Date</th>
        </tr>
      </thead>
        <tr ng-repeat="ttr in ttrs | orderBy: 'dueDate'">
          <td><input type="checkbox" ng-model="checkStatus" ng-init='checkStatus=false' value="ttrCheck" ng-click="selectedTTR(ttr._id, checkStatus)"></td>
          <td ng-click="editModal.open(ttr)">{{ ttr.description }}</td>
          <td>{{ ttr.dueDate | date:'MM/dd/yy'}}</td>
        </tr>
        </table>
  </div>
</div>

<!-- Add Modal -->
<script type="text/ng-template" id="addModal.html">
<div class="modal" id="ttrAddModal" tabindex="-1" role="dialog" aria-labelledby="addTTR" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addTTR">Add a TTR</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name = "AddTTR">
        <div class="form-group">
          <label for="descripTTR">Description</label>
          <input type="text" class="form-control" id="descripTTR" ng-model="description" ng-value="" placeholder="What I need to remember...">
        </div>
        <div class="form-group">
          <label for="dueDateTTR">Due Date</label>
          <input type="date" class="form-control" id="dueDateTTR" ng-model="dueDate">
        </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-info" value = "submit" ng-click="$parent.addTTR()">Add to TTR</button>
    </div>
  </div>
</div>
</div>
</script>

  <!-- Edit Modal -->
<script type="text/ng-template" id="editModal.html">
  <div class="modal" tabindex="-1" id="editModalDiv" role="dialog" aria-labelledby="editTTR" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTTR">TTR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="editTTR">
          <div ng-show="!showSchedule" class="form-group">
            <label for="editDescrip">Description</label>
            <input type="text" class="form-control" id="editDescrip" ng-model="description" ng-value="model.data.description">
            <label for="editDate">Due Date</label>
            <input type="date" class="form-control" id="editDate" ng-model="dueDate" ng-value="model.data.dueDate | date:'yyyy-MM-dd'">
          </div>
          <div ng-show="showSchedule" class="form-group">
            <h6 ng-show="$parent.error" ng-style="{color:'red'}">{{$parent.errorMsg}}</h6>
            <label for="scheduleDescription">Description</label>
            <input type="text" class="form-control" id="scheduleDescription" ng-model="description" ng-value="model.data.description">
            <label for="scheduleStartDate">Start Date</label>
            <input type="date" class="form-control" id="scheduleStartDate" ng-model="date">
            <label for="scheduleStartDate">Start Time</label>
            <input type="time" class="form-control" id="scheduleEndDate" ng-model="startDate">
            <label for="scheduleEndDate">End Time</label>
            <input type="time" class="form-control" id="scheduleEndDate" ng-model="endDate">
            <label for="scheduleNotification">Notify Me</label>
            <input type="checkbox" id="scheduleNotification" ng-model="notifySchedule" ng-value="false" ng-init="notifySchedule=false">
          </div>
        </form>
        <button ng-show="!showSchedule" type="button" class="btn btn-info" ng-click="showSchedule=true">Add to Schedule</button>
        <button ng-show="!showSchedule" type="button" class="btn btn-warning" ng-click="$parent.editTTR(model.data._id)">Edit</button>
        <button ng-show="!showSchedule" type="button" class="btn btn-danger" ng-click="$parent.deleteTTR(model.data._id)">Delete</button>
        <button ng-show="showSchedule" type="button" class="btn btn-warning" ng-click="showSchedule=false;$parent.error=false;">Back</button>
        <button ng-show="showSchedule" type="button" class="btn btn-info" ng-click="$parent.addTTRToSchedule()">Add</button>
      </div>
    </div>
  </div>
  </div>
  </script>
