<div ng-controller="TTRCntrl">
  <edit-modal model="editModal" description="$parent.description" due-date="$parent.dueDate"></edit-modal>
  <add-modal model="addModal" description="$parent.description" due-date="$parent.dueDate"></add-modal>
  <div id="ttrDiv">
    <button type="button" class="btn btn-danger ttrButton" ng-click="deleteSelectedTTR()">Delete</button>
    <button type="button" class="button btn btn-primary ttrButton" ng-click="addModal.openAdd()">Add</button>
    <table id = "ttrTable" class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Description</th>
          <th scope ="col">Due Date</th>
        </tr>
      </thead>
        <tr ng-repeat="ttr in ttrs">
          <td><input type="checkbox" ng-model="checkStatus" ng-init='checkStatus=false' value="ttrCheck" ng-click="selectedTTR(ttr._id, checkStatus)"></td>
          <td ng-click="editModal.open(ttr)">{{ ttr.description }}</td>
          <td>{{ ttr.dueDate | date:'MM/dd/yyyy'}}</td>
        </tr>
        </table>
  </div>
</div>

<!-- Add Modal -->
<script type="text/ng-template" id="addModal.html">
<div class="modal" id="ttrAddModal" tabindex="-1" role="dialog" aria-labelledby="addTTR" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addTTR">Add a TTR</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name = "AddTTR">
        <div class="form-group">
          <label for="descripTTR">Description</label>
          <input type="text" class="form-control" id="descripTTR" ng-model="description" ng-value="" placeholder="What I need to remember...">
        </div>
        <div class="form-group">
          <label for="dueDateTTR">Due Date</label>
          <input type="date" class="form-control" id="dueDateTTR" ng-model="dueDate">
        </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-info" value = "submit" ng-click="$parent.addTTR()">Add to TTR</button>
    </div>
  </div>
</div>
</div>
</script>

  <!-- Edit Modal -->
<script type="text/ng-template" id="editModal.html">
  <div class="modal" tabindex="-1" id="editModalDiv" role="dialog" aria-labelledby="editTTR" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTTR">TTR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="editTTR">
          <div ng-show="!showSchedule" class="form-group">
            <label for="editDescrip">Description</label>
            <input type="text" class="form-control" id="editDescrip" ng-model="description" ng-value="model.data.description">
          </div>
          <div ng-show="!showSchedule" class="form-group">
            <label for="editDate">Due Date</label>
            <input type="date" class="form-control" id="editDate" ng-model="dueDate" ng-value="model.data.dueDate | date:'yyyy-MM-dd'">
          </div>
          <div ng-show="showSchedule" class="form-group">
            <label for="editDescrip">Schedule!!</label>
            <input type="text" class="form-control" id="editDescrip" ng-model="description" ng-value="model.data.description">
          </div>
          <div ng-show="showSchedule" class="form-group">
            <label for="editDate">Start Date!!!</label>
            <input type="date" class="form-control" id="editDate" ng-model="dueDate" ng-value="model.data.dueDate | date:'yyyy-MM-dd'">
          </div>
        </form>
        <button type="button" class="btn btn-info" ng-click="showSchedule=true">Add to Schedule</button> <!--ng-click -->
        <button type="button" class="btn btn-warning" ng-click="$parent.editTTR(model.data._id)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="$parent.deleteTTR(model.data._id)">Delete</button>
      </div>
    </div>
  </div>
  </div>
  </script>
